


      <form method= "POST" action= '/users/<%= session.user.id %>/favourites/<%= post.id %>' >
      <input type= "hidden" name= "_method" value= 'delete'>
      <input type= 'submit' value= "Eliminar post de favoritos">
      </form>

