
<div class="hero-unit">
  <h1>FUTBOL - SWCM</h1>
  <p>El blog trata sobre las últimas noticias del fútbol mundial, donde los usuarios logueados podrán
     compartir sus opiniones, abrir temas nuevos en el blog, comentar los posts de otros usuarios, marcar
     como favoritas aquellas publicaciones que les interesen... </p>
  <p> <a class="btn btn-primary btn-large" 
         target="_blank"  
         href="http://moodle.dit.upm.es/">Para saber más &raquo;</a></p>
</div>

<div class="page-header">
  <h1> Bienvenido a Futbol-SWCM
    <small>Ven y comenta sobre todos los temas de fútbol. </small>
  </h1>
</div>


<div class="row-fluid">

  <div class="span4">
    <img src='images/easportsbig.png' alt='easportsbig'/>
  </div><!--/span-->

  <div class="span8">
    <div class="row-fluid">
      <div class="span4">
        <h2>Actualidad</h2>
        <p>Trataremos los temas que más se comentan en los periódicos digitales, las redes sociales... </p>
        <p><a class="btn" href="#">View details &raquo;</a></p>
      </div><!--/span-->
      <div class="span4">
        <h2>Fútbol español</h2>
        <p> Nos centraremos en el fútbol español, comentando las noticias de los equipos de primera, segunda y segunda división B. Rumores, fichajes, lesiones, mercado, rendimiento de jugadores...</p>
        <p><a class="btn" href="#">View details &raquo;</a></p>
      </div><!--/span-->
      <div class="span4">
        <h2>Fútbol internacional</h2>
        <p> Abarcaremos las mejores ligas del mundo: Premier League, Calcio Italiano, Bundesliga, Liga francesa, Eredivise, Liga brasileña, Liga argentina... 
        Tambien trataremos temas sobre selecciones nacionales, preparativos para el Mundial de Brasil 2014...</p>
        <p><a class="btn" href="#">View details &raquo;</a></p>
      </div><!--/span-->
    </div><!--/row-->
  </div><!--/span-->

</div><!--/row-->


<div class="row-fluid">
  <div class="span6">
    <h2>Jóvenes promesas</h2>
    <p> Seguimiento individual de las estrellas emergentes de todo el mundo. No pierdas ningún detalle de quién puede ser el próximo Balón de Oro.  </p>
    <p><a class="btn" href="#">View details &raquo;</a></p>
  </div><!--/span-->
  <div class="span6">
    <h2>Fútbol Retro</h2>
    <p> Sección para los románticos del fútbol que quieren recordar a viejas leyendas que marcaron un antes y un después en la historia del fútbol. O recordar aquellos partidos en los que saltaste de alegría, en los que ascendió tu equipo, en los que el sufrimiento fue mayor que el dolor, anécdotas, historias... </p>
    <p><a class="btn" href="#">View details &raquo;</a></p>
  </div><!--/span-->
  <div class="span4">
  </div><!--/span-->
</div><!--/row-->


<div class="row-fluid">
  <div class="span6">
    <h2>Himno Champions League</h2>
    <iframe src="https://embed.spotify.com/?uri=spotify:track:2ofe9SQ0VTSzpOnmoxVwS7" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
  </div><!--/span-->
  <div class="span6">
    <h2>Vídeo introducción</h2>
    <p> Los autores del blog explican el funcionamiento del blog.</p>
    <video  width = "640"
      height = "480"
      controls
      preload>
      <source src="videos/videoblog.mp4" type="video/mp4" />
      <embed></embed>
    </video>
  </div><!--/span-->
  <div class="span4">
  </div><!--/span-->
</div><!--/row-->

<div class="span">
  <div class="span" >
     <h2>La Bombonera, Buenos Aires (Estadio de Boca Juniors)</h2> 
     <img src='images/bg2.jpg' alt='bg2'/>
  </div><!--/span-->
</div><!--/row-->
